.comics
  - comics.each do |comic|
    .comic
      .thumbnail
        %img{src: comic.thumbnail_path}
      .overlay
        .background
        .details
          .title= comic.title
          %span.number= "##{comic.issue_number}"
          %span.date= comic.date.year

.paginator
  .prev= previous_page_link(page)
  .next= next_page_link(page)
